<footer class="bg-dark text-light mt-5">
  <div class="container py-4">
    <div class="row">

      <div class="col-md-4">
        <h5>Coaching CMS</h5>
        <p>Professional coaching for IT & software courses.</p>
      </div>

      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="courses.html" class="text-light text-decoration-none">Courses</a></li>
          <li><a href="faculty.html" class="text-light text-decoration-none">Faculty</a></li>
          <li><a href="contact.html" class="text-light text-decoration-none">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Contact</h5>
        <p>Email: info@coachingcms.com</p>
        <p>Phone: +91 98765 43210</p>
      </div>

    </div>

    <hr>
    <p class="text-center mb-0">© 2026 Coaching CMS. All rights reserved.</p>
  </div>
</footer>
